body {
    background-image: linear-gradient(#108dc7, #ef8e38);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

#title,
#myList h1 {
    color: #ef8e38;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
}

#myList li {
    list-style-type: none;
    font-size: 20px;
    color: #efff;
}

.bigText {
    font-size: 30px;
}

.boldText {
    font-weight: bold;
}

.niceBg {
    background: #ef8e38;
}

.whiteText {
    color: #ffffff;
}